
<div id="page-content">
    <div class="container py-4">
        <h1 class="text-center">
            <%= @user.name %>'s profile
        </h1>
        <div class="text-center">
            <%= gravatar_for @user, size: 100 %>
        </div>
        <h2 class="text-center mt-4">
            Articles
        </h2>
        <%= render 'articles/articles' %>
    </div>
</div>
