<footer class="footer py-3 bg-dark">
  <div class="container text-center">
    <span class="text-white-50">
      Copyright &copy; <%= link_to "Mycvlnn", "https://github.com/mycvlnn", class: 'text-white', target: '_blank', rel: 'noopener noreferrer' %>
    </span>
  </div>
</footer>